{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'add_teacher' %}" class="inline-block bg-green-600 text-white px-4 py-2 rounded hover:bg-green-800 mb-4 flex items-center">
        <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
        </svg>
        Adicionar Professor
    </a>

    <div class="space-y-4">
        {% for teacher in teachers %}
            <div class="bg-white p-4 border rounded-lg shadow-sm">
                <h3 class="text-lg font-semibold">{{ teacher.name }}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
