{% extends "base.html" %}

{% block content %}
  <h1>Relatório do Aluno: {{ student.name }}</h1>
  <h3>Informações:</h3>
  <p><strong>Nome:</strong> {{ student.name }}</p>
  <p><strong>Idade:</strong> {{ student.age }} anos</p>
  <h3>Dificuldades Identificadas:</h3>
  {% if difficulties %}
    <ul>
          {{ report }}

    </ul>
  {% else %}
    <p>Não há dificuldades identificadas para este aluno.</p>
  {% endif %}


  <a href="{% url 'list_students' %}">Voltar para a lista de alunos</a>
{% endblock %}
